@font-face {
    font-family: 'VIEGotham';
    src: url('../fonts/VIEGotham-Book.eot');
    src: url('../fonts/VIEGotham-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/VIEGotham-Book.woff2') format('woff2'),
        url('../fonts/VIEGotham-Book.woff') format('woff'),
        url('../fonts/VIEGotham-Book.ttf') format('truetype'),
        url('../fonts/VIEGotham-Book.svg#VIEGotham-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VIEGotham';
    src: url('../fonts/VIEGotham-Black.eot');
    src: url('../fonts/VIEGotham-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/VIEGotham-Black.woff2') format('woff2'),
        url('../fonts/VIEGotham-Black.woff') format('woff'),
        url('../fonts/VIEGotham-Black.ttf') format('truetype'),
        url('../fonts/VIEGotham-Black.svg#VIEGotham-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Adamas';
    src: url('../fonts/Adamas-Regular.eot');
    src: url('../fonts/Adamas-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Adamas-Regular.woff2') format('woff2'),
        url('../fonts/Adamas-Regular.woff') format('woff'),
        url('../fonts/Adamas-Regular.ttf') format('truetype'),
        url('../fonts/Adamas-Regular.svg#Adamas-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
