* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
	width: 100%;
	min-width: 300px;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}

body {
	position: relative;
	font-family: $family-1;
	background-color: #fff;
	color: #000;
	font-size: 1.6rem;
	line-height: 1.4;
	font-weight: 400;
	font-style: normal;
	width: 100%;
	overflow-x: hidden;
	min-height: 100vh;
}

a {
	color: #000;
	text-decoration: none;

	&:hover {
		color: #444;
	}
}

ul,
ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
}

button,
input,
select,
textarea {
	margin: 0;
}

img,
embed,
object,
audio,
video {
	max-width: 100%;
}

iframe {
	border: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
	text-align: left;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
	display: block;
}

body,
button,
input,
select,
textarea {
	font-family: $family-1;
}

code,
pre {
	-moz-osx-font-smoothing: auto;
	-webkit-font-smoothing: auto;
	font-family: monospace;
}

code {
	background-color: whitesmoke;
	color: #ff3860;
	font-size: 0.875em;
	font-weight: normal;
	padding: 0.25em 0.5em 0.25em;
}

hr {
	background-color: #dbdbdb;
	border: none;
	display: block;
	height: 1px;
	margin: 1.5rem 0;
}

img {
	height: auto;
	max-width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
	vertical-align: baseline;
}

small {
	font-size: 0.875em;
}

span {
	font-style: inherit;
	font-weight: inherit;
}

strong {
	color: #363636;
	font-weight: 700;
}

pre {
	-webkit-overflow-scrolling: touch;
	background-color: whitesmoke;
	color: #4a4a4a;
	font-size: 0.875em;
	overflow-x: auto;
	padding: 1.25rem 1.5rem;
	white-space: pre;
	word-wrap: normal;

	code {
		background-color: transparent;
		color: currentColor;
		font-size: 1em;
		padding: 0;
	}
}

table {
	td,
	th {
		text-align: left;
		vertical-align: top;
	}

	th {
		color: #363636;
	}
}

.img {
	width: 100%;
	display: block;
}

.hide {
	display: none;
}

.container {
	width: 100%;
	max-width: 120rem;
	margin: 0 auto;
	padding: 0 1.5rem;
}

.field {
	margin-bottom: 1rem;
}

.label {
	display: block;
	font-weight: 700;
}

.input,
.textarea {
	align-items: center;
	border: 1px solid transparent;
	box-shadow: none;
	display: inline-flex;
	font-size: 1rem;
	height: 2.25rem;
	justify-content: flex-start;
	line-height: 1.5;
	padding: 0.5rem 1rem;
	position: relative;
	vertical-align: top;
	background-color: white;
	border-color: #dbdbdb;
	color: #363636;
	max-width: 100%;
	width: 100%;
	appearance: none;
	transition: border-color 0.3s ease-out;

	&:focus,
	&:active {
		outline: none;
		border-color: #b5b5b5;
	}

	[disabled] {
		cursor: not-allowed;
		background-color: whitesmoke;
		border-color: whitesmoke;
		box-shadow: none;
		color: #7a7a7a;

		&::-moz-placeholder,
		&::-moz-placeholder {
			color: rgba(122, 122, 122, 0.3);
		}

		&::-webkit-input-placeholder,
		&::-webkit-input-placeholder {
			color: rgba(122, 122, 122, 0.3);
		}

		&:-moz-placeholder,
		&:-moz-placeholder {
			color: rgba(122, 122, 122, 0.3);
		}

		&:-ms-input-placeholder,
		&:-ms-input-placeholder {
			color: rgba(122, 122, 122, 0.3);
		}
	}

	[readonly] {
		box-shadow: none;
	}

	&::-moz-placeholder,
	&::-moz-placeholder {
		color: rgba(54, 54, 54, 0.3);
	}

	&::-webkit-input-placeholder,
	&::-webkit-input-placeholder {
		color: rgba(54, 54, 54, 0.3);
	}

	&:-moz-placeholder,
	&:-moz-placeholder {
		color: rgba(54, 54, 54, 0.3);
	}

	&:-ms-input-placeholder,
	&:-ms-input-placeholder {
		color: rgba(54, 54, 54, 0.3);
	}
}

.textarea {
	display: block;
	width: 100%;
	min-height: 6rem;
	resize: none;
}

.checkbox,
.radio {
	cursor: pointer;
	display: inline-block;
	line-height: 1.25;
	position: relative;

	input {
		cursor: pointer;
	}

	&:hover {
		color: #363636;
	}

	[disabled] {
		color: #7a7a7a;
		cursor: not-allowed;
	}
}

.select {
	display: inline-block;
	max-width: 100%;
	position: relative;
	vertical-align: top;
	height: 2.25rem;

	&:after {
		border: 1px solid #3273dc;
		border-right: 0;
		border-top: 0;
		content: '';
		display: block;
		height: 0.5rem;
		pointer-events: none;
		position: absolute;
		transform: rotate(-45deg);
		transform-origin: center;
		width: 0.5rem;
		margin-top: -0.375rem;
		right: 1.125rem;
		top: 50%;
		z-index: 4;
	}

	select {
		appearance: none;
		align-items: center;
		border: 1px solid transparent;
		border-radius: 0;
		box-shadow: none;
		display: inline-flex;
		font-size: 1rem;
		height: 2.25em;
		justify-content: flex-start;
		line-height: 1.5;
		padding: 0.3rem 1rem;
		position: relative;
		vertical-align: top;
		background-color: white;
		border-color: #dbdbdb;
		color: #363636;
		cursor: pointer;
		display: block;
		font-size: 1em;
		max-width: 100%;
		outline: none;
		padding-right: 2.5rem;

		&:focus,
		&:active {
			outline: none;
		}

		&::-moz-placeholder {
			color: rgba(54, 54, 54, 0.3);
		}

		&::-webkit-input-placeholder {
			color: rgba(54, 54, 54, 0.3);
		}

		&:-moz-placeholder {
			color: rgba(54, 54, 54, 0.3);
		}

		&:-ms-input-placeholder {
			color: rgba(54, 54, 54, 0.3);
		}

		&::-ms-expand {
			display: none;
		}
	}

	select[disabled] {
		cursor: not-allowed;
		background-color: whitesmoke;
		border-color: whitesmoke;
		box-shadow: none;
		color: #7a7a7a;

		&::-moz-placeholder {
			color: rgba(122, 122, 122, 0.3);
		}

		&::-webkit-input-placeholder {
			color: rgba(122, 122, 122, 0.3);
		}

		&:-moz-placeholder {
			color: rgba(122, 122, 122, 0.3);
		}

		&:-ms-input-placeholder {
			color: rgba(122, 122, 122, 0.3);
		}
	}
}

.help {
	display: block;
	font-size: 0.75rem;
	margin-top: 0.25rem;

	&.is-white {
		color: #fff;
	}

	&.is-black {
		color: #0a0a0a;
	}

	&.is-light {
		color: whitesmoke;
	}

	&.is-dark {
		color: #363636;
	}

	&.is-primary {
		color: #00d1b2;
	}

	&.is-link {
		color: #3273dc;
	}

	&.is-info {
		color: #209cee;
	}

	&.is-success {
		color: #23d160;
	}

	&.is-warning {
		color: #ffdd57;
	}

	&.is-danger {
		color: #ff3860;
	}
}

.button {
	align-items: center;
	border: 1px solid transparent;
	box-shadow: none;
	display: inline-flex;
	font-size: 1rem;
	height: 2.25rem;
	justify-content: flex-start;
	line-height: 1.2;
	padding: 0.5rem 1rem;
	position: relative;
	vertical-align: top;
	user-select: none;
	background-color: white;
	border-color: #dbdbdb;
	color: #363636;
	cursor: pointer;
	justify-content: center;
	padding-left: 0.75em;
	padding-right: 0.75em;
	text-align: center;
	white-space: nowrap;
	transition: all 0.3s ease-out;

	&:focus,
	&:active {
		outline: none;
	}

	&[disabled] {
		cursor: not-allowed;
		color: #dbdbdb;

		&:hover {
			border-color: #dbdbdb;
			color: #dbdbdb;
		}
	}

	strong {
		color: inherit;
	}

	&:hover,
	&:focus {
		background-color: #b5b5b5;
		border-color: #b5b5b5;
		color: #fff;
	}

	&.is-black {
		background-color: #0a0a0a;
		border-color: transparent;
		color: #fff;

		&:hover {
			background-color: #040404;
			border-color: transparent;
			color: #fff;
		}

		&:focus {
			border-color: transparent;
			color: #fff;
		}

		&:active {
			background-color: #000;
			border-color: transparent;
			color: #fff;
		}

		&[disabled] {
			background-color: #0a0a0a;
			color: #333;
			border-color: transparent;
			box-shadow: none;
		}
	}
}

.modal {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: transparent;
	overflow: hidden;
	overflow-y: auto;
	z-index: 997;
	display: none;

	&-open {
		position: fixed;
		overflow: hidden;
		.modal {
			overflow-x: hidden;
			overflow-y: auto;
		}
	}

	&-overlay {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.75);
		z-index: 996;
		display: none;
	}

	&-close {
		position: absolute;
		font-size: 0;
		right: 1rem;
		top: 1rem;
		width: 4rem;
		height: 4rem;
		border-radius: 50%;
		border: 0;
		background-color: #ddd;
		cursor: pointer;
		display: block;
		padding: 0;
		outline: none;
		transition: all 0.3s ease;
		&:hover {
			background-color: #ccc;
			transform: rotate(90deg);
		}
		&:before,
		&:after {
			content: '';
			display: block;
			width: 2rem;
			height: 0.2rem;
			background-color: #616161;
			position: absolute;
			top: 1.9rem;
			left: 1rem;
			transition: all 0.3s ease;
		}
		&:before {
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);
		}
	}

	&-main {
		position: relative;
		background-color: #fff;
		padding: 4rem;
		border-radius: 1rem;
	}

	&-dialog {
		width: 100%;
		max-width: 99.2rem;
		padding: 3rem;
		margin: 0 auto;

		@media (max-width: 667px) {
			padding: 1.5rem;
		}
	}
}

.loader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-color: #fff;

	p {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 20rem;
		height: 2rem;
		border-radius: 2rem;
		background-color: #a1a1a1;
		border: 1px solid #444;
		box-shadow: inset 0 0 1rem 0 #444;
		overflow: hidden;

		span {
			position: absolute;
			overflow: hidden;
			display: block;
			height: 100%;

			&.probar {
				width: 0%;
				z-index: 1;
				font-size: 0;

				&:before {
					content: '';
					display: block;
					width: 20rem;
					height: 2rem;
					background-color: #34c2e3;
					background-size: 30px 30px;
					background-image: -webkit-gradient(linear, left top, right bottom, color-stop(.25, rgba(255, 255, 255, .15)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .15)), color-stop(.75, rgba(255, 255, 255, .15)), color-stop(.75, transparent), to(transparent));
					background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
					background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
					background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
					background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
					background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
					animation: animate-stripes 3s linear infinite;
				}
			}

			&.percent {
				width: 100%;
				padding: 2.5rem;
				z-index: 2;
				display: none;
			}
		}
	}
}

@keyframes animate-stripes {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 60px 0;
	}
}
