* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 10px;
  width: 100%;
  min-width: 300px;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch; }

body {
  position: relative;
  font-family: arial, sans-serif;
  background-color: #fff;
  color: #000;
  font-size: 1.6rem;
  line-height: 1.4;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  overflow-x: hidden;
  min-height: 100vh; }

a {
  color: #000;
  text-decoration: none; }
  a:hover {
    color: #444; }

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

button,
input,
select,
textarea {
  margin: 0; }

img,
embed,
object,
audio,
video {
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0;
  text-align: left; }

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block; }

body,
button,
input,
select,
textarea {
  font-family: arial, sans-serif; }

code,
pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: monospace; }

code {
  background-color: whitesmoke;
  color: #ff3860;
  font-size: 0.875em;
  font-weight: normal;
  padding: 0.25em 0.5em 0.25em; }

hr {
  background-color: #dbdbdb;
  border: none;
  display: block;
  height: 1px;
  margin: 1.5rem 0; }

img {
  height: auto;
  max-width: 100%; }

input[type="checkbox"],
input[type="radio"] {
  vertical-align: baseline; }

small {
  font-size: 0.875em; }

span {
  font-style: inherit;
  font-weight: inherit; }

strong {
  color: #363636;
  font-weight: 700; }

pre {
  -webkit-overflow-scrolling: touch;
  background-color: whitesmoke;
  color: #4a4a4a;
  font-size: 0.875em;
  overflow-x: auto;
  padding: 1.25rem 1.5rem;
  white-space: pre;
  word-wrap: normal; }
  pre code {
    background-color: transparent;
    color: currentColor;
    font-size: 1em;
    padding: 0; }

table td,
table th {
  text-align: left;
  vertical-align: top; }

table th {
  color: #363636; }

.img {
  width: 100%;
  display: block; }

.hide {
  display: none; }

.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.5rem; }

.field {
  margin-bottom: 1rem; }

.label {
  display: block;
  font-weight: 700; }

.input,
.textarea {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid transparent;
  box-shadow: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1rem;
  height: 2.25rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  line-height: 1.5;
  padding: 0.5rem 1rem;
  position: relative;
  vertical-align: top;
  background-color: white;
  border-color: #dbdbdb;
  color: #363636;
  max-width: 100%;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  transition: border-color 0.3s ease-out; }
  .input:focus, .input:active,
  .textarea:focus,
  .textarea:active {
    outline: none;
    border-color: #b5b5b5; }
  .input [disabled],
  .textarea [disabled] {
    cursor: not-allowed;
    background-color: whitesmoke;
    border-color: whitesmoke;
    box-shadow: none;
    color: #7a7a7a; }
    .input [disabled]::-moz-placeholder, .input [disabled]::-moz-placeholder,
    .textarea [disabled]::-moz-placeholder,
    .textarea [disabled]::-moz-placeholder {
      color: rgba(122, 122, 122, 0.3); }
    .input [disabled]::-webkit-input-placeholder, .input [disabled]::-webkit-input-placeholder,
    .textarea [disabled]::-webkit-input-placeholder,
    .textarea [disabled]::-webkit-input-placeholder {
      color: rgba(122, 122, 122, 0.3); }
    .input [disabled]:-moz-placeholder, .input [disabled]:-moz-placeholder,
    .textarea [disabled]:-moz-placeholder,
    .textarea [disabled]:-moz-placeholder {
      color: rgba(122, 122, 122, 0.3); }
    .input [disabled]:-ms-input-placeholder, .input [disabled]:-ms-input-placeholder,
    .textarea [disabled]:-ms-input-placeholder,
    .textarea [disabled]:-ms-input-placeholder {
      color: rgba(122, 122, 122, 0.3); }
  .input [readonly],
  .textarea [readonly] {
    box-shadow: none; }
  .input::-moz-placeholder, .input::-moz-placeholder,
  .textarea::-moz-placeholder,
  .textarea::-moz-placeholder {
    color: rgba(54, 54, 54, 0.3); }
  .input::-webkit-input-placeholder, .input::-webkit-input-placeholder,
  .textarea::-webkit-input-placeholder,
  .textarea::-webkit-input-placeholder {
    color: rgba(54, 54, 54, 0.3); }
  .input:-moz-placeholder, .input:-moz-placeholder,
  .textarea:-moz-placeholder,
  .textarea:-moz-placeholder {
    color: rgba(54, 54, 54, 0.3); }
  .input:-ms-input-placeholder, .input:-ms-input-placeholder,
  .textarea:-ms-input-placeholder,
  .textarea:-ms-input-placeholder {
    color: rgba(54, 54, 54, 0.3); }

.textarea {
  display: block;
  width: 100%;
  min-height: 6rem;
  resize: none; }

.checkbox,
.radio {
  cursor: pointer;
  display: inline-block;
  line-height: 1.25;
  position: relative; }
  .checkbox input,
  .radio input {
    cursor: pointer; }
  .checkbox:hover,
  .radio:hover {
    color: #363636; }
  .checkbox [disabled],
  .radio [disabled] {
    color: #7a7a7a;
    cursor: not-allowed; }

.select {
  display: inline-block;
  max-width: 100%;
  position: relative;
  vertical-align: top;
  height: 2.25rem; }
  .select:after {
    border: 1px solid #3273dc;
    border-right: 0;
    border-top: 0;
    content: '';
    display: block;
    height: 0.5rem;
    pointer-events: none;
    position: absolute;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: center;
            transform-origin: center;
    width: 0.5rem;
    margin-top: -0.375rem;
    right: 1.125rem;
    top: 50%;
    z-index: 4; }
  .select select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid transparent;
    border-radius: 0;
    box-shadow: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 1rem;
    height: 2.25em;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    line-height: 1.5;
    padding: 0.3rem 1rem;
    position: relative;
    vertical-align: top;
    background-color: white;
    border-color: #dbdbdb;
    color: #363636;
    cursor: pointer;
    display: block;
    font-size: 1em;
    max-width: 100%;
    outline: none;
    padding-right: 2.5rem; }
    .select select:focus, .select select:active {
      outline: none; }
    .select select::-moz-placeholder {
      color: rgba(54, 54, 54, 0.3); }
    .select select::-webkit-input-placeholder {
      color: rgba(54, 54, 54, 0.3); }
    .select select:-moz-placeholder {
      color: rgba(54, 54, 54, 0.3); }
    .select select:-ms-input-placeholder {
      color: rgba(54, 54, 54, 0.3); }
    .select select::-ms-expand {
      display: none; }
  .select select[disabled] {
    cursor: not-allowed;
    background-color: whitesmoke;
    border-color: whitesmoke;
    box-shadow: none;
    color: #7a7a7a; }
    .select select[disabled]::-moz-placeholder {
      color: rgba(122, 122, 122, 0.3); }
    .select select[disabled]::-webkit-input-placeholder {
      color: rgba(122, 122, 122, 0.3); }
    .select select[disabled]:-moz-placeholder {
      color: rgba(122, 122, 122, 0.3); }
    .select select[disabled]:-ms-input-placeholder {
      color: rgba(122, 122, 122, 0.3); }

.help {
  display: block;
  font-size: 0.75rem;
  margin-top: 0.25rem; }
  .help.is-white {
    color: #fff; }
  .help.is-black {
    color: #0a0a0a; }
  .help.is-light {
    color: whitesmoke; }
  .help.is-dark {
    color: #363636; }
  .help.is-primary {
    color: #00d1b2; }
  .help.is-link {
    color: #3273dc; }
  .help.is-info {
    color: #209cee; }
  .help.is-success {
    color: #23d160; }
  .help.is-warning {
    color: #ffdd57; }
  .help.is-danger {
    color: #ff3860; }

.button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid transparent;
  box-shadow: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1rem;
  height: 2.25rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  line-height: 1.2;
  padding: 0.5rem 1rem;
  position: relative;
  vertical-align: top;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: white;
  border-color: #dbdbdb;
  color: #363636;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0.75em;
  padding-right: 0.75em;
  text-align: center;
  white-space: nowrap;
  transition: all 0.3s ease-out; }
  .button:focus, .button:active {
    outline: none; }
  .button[disabled] {
    cursor: not-allowed;
    color: #dbdbdb; }
    .button[disabled]:hover {
      border-color: #dbdbdb;
      color: #dbdbdb; }
  .button strong {
    color: inherit; }
  .button:hover, .button:focus {
    background-color: #b5b5b5;
    border-color: #b5b5b5;
    color: #fff; }
  .button.is-black {
    background-color: #0a0a0a;
    border-color: transparent;
    color: #fff; }
    .button.is-black:hover {
      background-color: #040404;
      border-color: transparent;
      color: #fff; }
    .button.is-black:focus {
      border-color: transparent;
      color: #fff; }
    .button.is-black:active {
      background-color: #000;
      border-color: transparent;
      color: #fff; }
    .button.is-black[disabled] {
      background-color: #0a0a0a;
      color: #333;
      border-color: transparent;
      box-shadow: none; }

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  overflow: hidden;
  overflow-y: auto;
  z-index: 997;
  display: none; }
  .modal-open {
    position: fixed;
    overflow: hidden; }
    .modal-open .modal {
      overflow-x: hidden;
      overflow-y: auto; }
  .modal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 996;
    display: none; }
  .modal-close {
    position: absolute;
    font-size: 0;
    right: 1rem;
    top: 1rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 0;
    background-color: #ddd;
    cursor: pointer;
    display: block;
    padding: 0;
    outline: none;
    transition: all 0.3s ease; }
    .modal-close:hover {
      background-color: #ccc;
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg); }
    .modal-close:before, .modal-close:after {
      content: '';
      display: block;
      width: 2rem;
      height: 0.2rem;
      background-color: #616161;
      position: absolute;
      top: 1.9rem;
      left: 1rem;
      transition: all 0.3s ease; }
    .modal-close:before {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    .modal-close:after {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg); }
  .modal-main {
    position: relative;
    background-color: #fff;
    padding: 4rem;
    border-radius: 1rem; }
  .modal-dialog {
    width: 100%;
    max-width: 99.2rem;
    padding: 3rem;
    margin: 0 auto; }
    @media (max-width: 667px) {
      .modal-dialog {
        padding: 1.5rem; } }

.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #fff; }
  .loader p {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 20rem;
    height: 2rem;
    border-radius: 2rem;
    background-color: #a1a1a1;
    border: 1px solid #444;
    box-shadow: inset 0 0 1rem 0 #444;
    overflow: hidden; }
    .loader p span {
      position: absolute;
      overflow: hidden;
      display: block;
      height: 100%; }
      .loader p span.probar {
        width: 0%;
        z-index: 1;
        font-size: 0; }
        .loader p span.probar:before {
          content: '';
          display: block;
          width: 20rem;
          height: 2rem;
          background-color: #34c2e3;
          background-size: 30px 30px;
          background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
          -webkit-animation: animate-stripes 3s linear infinite;
                  animation: animate-stripes 3s linear infinite; }
      .loader p span.percent {
        width: 100%;
        padding: 2.5rem;
        z-index: 2;
        display: none; }

@-webkit-keyframes animate-stripes {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 60px 0; } }

@keyframes animate-stripes {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 60px 0; } }

.library {
  position: relative; }
  .library-main {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .library .sidebar {
    width: 37rem; }
  .library .content {
    width: 70rem; }

.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1; }

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  -moz-backface-visibility: hidden; }

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px); }

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }

.owl-carousel .owl-item img {
  display: block;
  width: 100%; }

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none; }

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-loaded {
  display: block; }

.owl-carousel.owl-loading {
  opacity: 0;
  display: block; }

.owl-carousel.owl-hidden {
  opacity: 0; }

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden; }

.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab; }

.owl-carousel.owl-rtl {
  direction: rtl; }

.owl-carousel.owl-rtl .owl-item {
  float: right; }

.no-js .owl-carousel {
  display: block; }

.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.owl-height {
  transition: height 500ms ease-in-out; }

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease; }

.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d; }

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: -webkit-transform 100ms ease;
  transition: transform 100ms ease;
  transition: transform 100ms ease, -webkit-transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px; }

.owl-theme .owl-nav [class*='owl-']:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none; }

.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline; }

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px; }

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #869791; }
